@import '../../../common/styles/variables.scss';

#experience{
    background-color: $bg-color-shade3;
    
    .timeLine{
      display: flex;
      flex-direction: column;

      .timelineContent{
        display: flex;
        margin: 0 auto;

        .duration{
          text-transform: capitalize;
          margin: 0 25px 0 0;
          width: 81px;
          font-size: 14px;

          &::after{
            width: 2px;
            background: $black-color;
            content: '';
            width: 1px;
            display: inline-block;
            height: calc(100% - 54px);
            margin: 0 30px;
          }
        }

        .card{
            background: $white-Color;
            color: $black-color;
            font-weight: 700;
            text-transform: capitalize;
            padding: 20px;
            box-shadow: $box-shadow;
            border: 1px solid $grey-shade;
            border-radius: $border-radius;
            width: 350px;
            margin: 0 0 40px 0;

            ul li {
              padding: 5px 0;
              font-size: 14px;

              &:first-child{
                font-size: 20px;
                margin: 0 0 10px 0;
                border-bottom: 1px solid $black-color;
                padding: 0 0 5px 0;
                font-weight: bold;
              }

              span{
                &:first-child{
                  margin: 0 10px 0 0;
                  &::after{
                    content: ":";
                    margin: 0 10px;
                  }
                }
              }
              
            }
          }
  
      }
    }
  }