// Colors Code
$white-Color: #fff;
$black-color: #000;
$grey-shade: #dedede;

// Backgrounds colors
// $bg-color-shade1:#f7f7f7;
// $bg-color-shade2:#01a2a6;
// $bg-color-shade3:#f9f9f9;
// $bg-color-shade4:#00bcd4;


$bg-color-shade1:#f7f7f7;
$bg-color-shade2:#314243;
$bg-color-shade3:#f9f9f9;
$bg-color-shade4:#7d9295;

// Common attributes 
$box-shadow: 2px 2px 5px $grey-shade;
$border-radius: 5px;


// Screen Sizes
 
