@import '../../common/styles/variables.scss';

main{
    padding-left: 300px;
    box-sizing: border-box;
    width: 100%;

    .section {
      padding: 20px 0 0 0;
      color: $white-Color;
      overflow-x: hidden;
      min-height: 100vh;

      .sectionWrapper{
        &.blackFont{
          color: $black-color;

          p.description::after{
            background: $black-color;
          }          
        }
        h1 {
          font-size: 75px;
          text-align: center;
          text-transform: uppercase;
          margin: 0 0 25px 0;
          transition: all .5s ease;

          @media only screen and (max-width: 768px){
            font-size: 50px;
          }
        }

        p.description {
          width: 60%;
          margin: 0 auto;
          font-size: 17px;
          font-weight: bold;
          text-align: center;
          position: relative;
          padding: 0 0 41px 0;
          font-weight: 200;

          @media only screen and (max-width: 768px){
            width: 75%;
          }

          &::after {
            content: "";
            width: 300px;
            height: 1px;
            position: absolute;
            bottom: 0px;
            left: calc(50% - 150px);
            background: $white-Color;
          }
        }
        .content{
          padding: 50px 30px;
          margin: 0;
          box-sizing: border-box;
        }
        
      }
    }
  }