@import '../../../common/styles/variables.scss';

#contact {
  background-color: $bg-color-shade2;

  .contact{
      text-align: center;
      padding: 40px 40px;

      .controls{
        display: block;
        width: 60%;
        margin: 20px auto;
        padding: 10px 10px;
        border-radius: $border-radius;
      }
      button{
        text-transform: uppercase;
        font-size: 25px;
        color: $white-Color;
        border: 1px solid $white-Color;
        font-weight: bold;
      }
      textarea{
        height:  150px;
      }
    }
  }