@import '../../../common/styles/variables.scss';

#contact {
  background-color: $bg-color-shade2;

  .contact{
      text-align: center;
      padding: 40px 40px;

      .controls{
        display: block;
        width: 100%;
        margin: 20px auto;
        padding: 10px 10px;
        border-radius: $border-radius;

        @media only screen and (min-width: 768px){
          width: 600px;
        }
      }
      button{
        text-transform: uppercase;
        font-size: 20px;
        color: $white-Color;
        border: 1px solid $white-Color;
        font-weight: bold;
      }
      textarea{
        height:  150px;
      }
    }
  }