@import '../../common/styles/variables.scss';

nav.navbar {
    padding: 50px 25px;
    border: 0px solid transparent;
    width: 300px;
    align-items: flex-start;
    position: fixed;
    z-index: 9;

    .navbar-brand {
      color: $black-color;
      padding: 0;
      text-transform: capitalize;
      font-family: 'Roboto-Bold';

      span {
        color: $white-Color;
        border: 1px solid $bg-color-shade2;
        background: $bg-color-shade2;
        padding: 7px 10px;
        text-transform: uppercase;
      }
    }
    

    .navbar-nav{
      margin: 30px 0 45px 0;
      width: 100%;

    li>a,
    li>a:hover {
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 14px;
        display: block;
        color: $black-color;
        text-transform: uppercase;
        border-bottom: 1px solid $grey-shade;
        padding: 15px 15px 15px 25px;
        position: relative;
      }

    li>a::before {
        content: "";
        width: 10px;
        height: 2px;
        position: absolute;
        display: inline-block;
        background: $bg-color-shade4;
        top: 25px;
        left: 0;
        transition: all .3s ease;
      }

    li.active>a::before,
    li>a:hover::before {
        width: 100%;
        height: 1px;
        transition: all .3s ease;
      }

    }

    .socialLinks {
      text-align: center;
    }

    
    .fa {
      padding: 10px;
      font-size: 15px;
      min-width: 32px;
      text-align: center;
      text-decoration: none;
      margin: 0px 6px;
      text-decoration: none;
      border: 1px solid $white-Color;
    }

    .fa-facebook,
    .fa-google,
    .fa-linkedin {
      background: $white-Color;
      color: $bg-color-shade2;
      transition: all .3s ease;
      border: 1px solid $bg-color-shade2;
    }

    a.fa.fa-linkedin:hover,
    a.fa.fa-facebook:hover,
    a.fa.fa-google:hover,
    a.fa.fa-linkedin:focus,
    a.fa.fa-facebook:focus,
    a.fa.fa-google:focus {
      color: $white-Color;
      background: $bg-color-shade2;
      text-decoration: none;
      transition: all .3s ease;
    }

  }